<div class="container">
    <ul class="clear">
        <li>关于我们</li>
        <li>联系我们</li>
        <li>隐私声明</li>
    </ul>
    <div class="content clear">
        <div class="left">
            <p>所有投资都存在风险。任何一支证券或金融产品的历史数据都不能保证其未来的表现及回报。虽然投资多样化可以帮助分散风险，但是并不能在市场低迷时确保您获益或防止您损失。投资证券或金融产品总会存在潜在的亏损可能。投资者在进行投资前需考虑自身的投资目标及风险承受能力。</p>
            <p>进行交易之前，客户敬请阅读在我们警告和声明网页上的相关风险透露声明。</p>
        </div>
        <div class="right">
            <p>客服电话 交易日 09:30 - 次日 05:00</p>
            <b>400-603-7555</b>
            <br>
            <b>010-84055994</b>
            <p class="kefu">点击联系中文客服</p>
        </div>
    </div>
    <p>© 2016 老虎证券 Tiger Holdings Group Limited Made By 许庆庆</p>
</div>
